{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>

    </script>
{% endblock %}

{% block body %}

    {% if page.displayTitle == true %}
        <h1 class="page-header">{{ page.title }}</h1>
    {% endif %}

    {% if page.content is empty %}
        {{ macros.callout('Page is empty.', 'info') }}
    {% else %}
        {{ page.content|raw }}
    {% endif %}

{% endblock %}