<div class="spinner modal-backdrop fade in hidden">
    <i class="fa fa-cog fa-spin"></i>
</div>

<div class="dialog template modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <i class="fa fa-lg fa-fw"></i>
                    <span class="title"></span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 icon">
                        <i class="fa fa-lg fa-fw"></i>
                    </div>
                    <div class="col-sm-8 message"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ok btn btn-default btn-lg col-lg-3 pull-right" data-dismiss="modal">{{ 'common.ok'|trans }}</button>                       
                <button type="button" class="yes btn btn-default btn-lg col-lg-3 pull-right hidden">{{ 'common.yes'|trans }}</button>                       
                <button type="button" class="no btn btn-default btn-lg col-lg-3 pull-right hidden">{{ 'common.no'|trans }}</button>                       
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
