{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>

    </script>
{% endblock %}

{% block body %}

    <h1 class="page-header">
        <i class="fa fa-question-circle fa-lg fa-fw text-muted"></i>
        {{ 'About'|trans }}
    </h1>

{% endblock %}