{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
    </script>
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="page-header">{{ app_name|trans }}</h1>
            <p>{{ app_description|trans }}</p>
        </div>
    </div>

{% endblock %}