{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>
        console.log('user.signin'.trans());
    </script>
{% endblock %}

{% block body %}
    <h1>OK, Allright, You Win!</h1>

    <p>{{ 'user.signin'|trans }}</p>
    
    <ul>
        <li><a href="{{ path('locale.switch', { locale: 'pl' }) }}">pl</a></li>
        <li><a href="{{ path('locale.switch', { locale: 'en' }) }}">en</a></li>
    </ul>
{% endblock %}