{% extends "::base.html.twig" %}

{% block body %}

    <div class="row row-fluid">
        <div class="col-lg-12">
            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            {% block sonata_profile_content '' %}
        </div>
    </div>

{% endblock %}