{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "::base.html.twig" %}

{% block sonata_page_breadcrumb %}
    {% if breadcrumb_context is not defined %}
        {% set breadcrumb_context = 'user_index' %}
    {% endif %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}

{% block body %}

    <h1 class="page-header">
        <i class="fa-user fa fa-fw text-muted"></i>
        {% block sonata_profile_title %}
            {% trans from 'SonataUserBundle' %}
                sonata_profile_title
            {% endtrans %}
        {% endblock %}
    </h1>

    <div class="row row-fluid">
        <div class="col-lg-12">
            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            {% block sonata_profile_content '' %}
        </div>
    </div>

    {% endblock %}