{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '::base.html.twig' %}

{% block body %}

    {% include 'SonataUserBundle:Profile:tabs.html.twig' %}

    <div clas="row">
        <div class="col-lg-7">

            {{ form_start(form, {attr: {
                            action: path('sonata_user_profile_edit_authentication'),
                            class: 'form-horizontal'
            }}) }}

            {{ macros.formFields(form, [ 'username', 'email', 'current_password' ]) }}

            <div class="form-action">
                <button type="submit" name="submit" class="btn btn-default btn-lg pull-right">
                    {{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
