{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="list-group">
                <a href="{{ url('sonata_user_profile_edit') }}" class="list-group-item">
                    <i class="fa-user fa fa-fw"></i>
                    Edycja profilu
                </a>
            </div>
        </div>
    </div>

{% endblock %}