{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    
    <script>

    </script>
{% endblock %}

{% block body %}

    <h1 class="page-header">
        <i class="fa fa-lock fa-lg fa-fw text-muted"></i>
        {{ 'Private'|trans }}
    </h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="list-group">
                 <a href="{{ url('private.spreadsheet') }}" class="list-group-item">
                     <i class="fa fa-download fa-lg fa-fw text-muted"></i>
                     Sample spreadsheet
                 </a>
            </div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>

{% endblock %}