{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function (e) {

        });
    </script>
{% endblock %}

{% block body %}

    <h1 class="page-header">
        <i class="fa-list-alt fa fa-lg fa-fw text-muted"></i>
        {{ 'Sample form'|trans }}
    </h1>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}

    {{ form_end(form) }}            

{% endblock %}