{% extends "::base.html.twig" %}

{% block fos_user_content %}
    <div class="bs-callout bs-callout-warning">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</div>
{% endblock fos_user_content %}
