{% extends "::base.html.twig" %}

{% block fos_user_content %}
    <div class="row access-row">
        <div class="col-sm-6">
            {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}
