{% trans_default_domain 'FOSUserBundle' %}


{% form_theme form with defaultFormTheme %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
{{ form_widget(form) }}
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
        <input type="submit" id="_submit" name="_submit"
               class="btn-default btn btn-lg pull-right"
               value="{{ 'resetting.reset.submit'|trans }}"/>
    </div>
</div>
{{ form_end(form) }}
