{% extends "::base.html.twig" %}

{% block fos_user_content %}
    <div class="row access-row">
        <div class="col-sm-6">
            <div class="cs-callout cs-callout-info">
                {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
            </div>
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}
