/* Window */

@media only screen and (min-width : 992px) {

    .w100 {
        width: 100%;
    }

    .w75 {
        width: 75%;
    }

    .w50 {
        width: 50%;
    }
}

/* Spinner */

.spinner i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
    margin-left: -100px;
    margin-top: -100px;
}

/* Dialogs: */

.dialog.template .modal-footer .btn {
    margin-left: 16px;
    margin-right: 0;
}

.dialog.template .modal-header {
    background-color: #2d6ca2;
    color: white;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.dialog.template .modal-body .icon {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 16px;
}

.dialog.template .modal-body .icon i {
    font-size: 64px;
    color: #777;
}

.dialog.template .modal-body .icon i.info,
.dialog.template .modal-body .icon i.question,
.dialog.template .modal-body .icon i.confirmation {
    color: #2d6ca2;
}

.dialog.template .modal-body .icon i.warning {
    color: #8a6d3b;
}

.dialog.template .modal-body .icon i.error {
    color: #a94442;
}
