@import "fonts.css";

/* Bootstrap adjustments GENERAL: */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1.3;
}