SSH_CLI=ssh
SCP_CLI=scp
MYSQL_CLI=mysql

SOURCE_HOST=task.sescom.pl
SOURCE_USER=usync
SOURCE_PORT=22

SOURCE_DIR=/home/usync
SOURCE_DB_NAME=source_database_name
SOURCE_DB_HOST=localhost
SOURCE_DB_USER=dbuser
SOURCE_DB_PASS=dbpass

TARGET_DIR=.
TARGET_DB_NAME=target_database_name
TARGET_DB_HOST=localhost
TARGET_DB_USER=root
TARGET_DB_PASS=

