{% extends "::base.html.twig" %}

{% block fos_user_content %}

    {% include 'SonataUserBundle:Profile:tabs.html.twig' %}

    <div clas="row">
        <div class="col-lg-7">
            {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>

{% endblock fos_user_content %}
